server:
  port: 9012

spring:
  application:
    name: service-router

  cloud:
    gateway:
      routes:
        - id: ID
          uri: URI
          predicates:
            - Path=/

management:
  endpoints:
    web:
      exposure:
        include: health,info
